on:
    workflow_call:
      inputs:
        image_tag:
          required: true
          type: string
jobs:
  my-job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        
        run : echo "$GITHUB_REPOSITORY"

      - name: print out the token
        
        run: echo "$GITHUB_TOKEN"
        

